<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/static/source/lib/uikit-3.14.1/css/uikit.min.css">
    <link rel="stylesheet" href="/static/source/pages/index/index.css">
</head>

<body>

    <header class="header">
        <div class="logo">
            <img src="/static/source/img/common/IMAGE.svg" alt="">
        </div>
        <div class="header_links">
            <div class="header_links__block">
                <a href="#" class="color_gray2">
                    продукція
                </a>
                <a href="#" class="color_gray2">про нас</a>
            </div>
            <div class="header_links__block">
                <a href="#" class="color_white">
                    Контакти
                </a>
                <a href="tel:+380 670-100-170" class="color_white">
                    +380 670-100-170
                </a>
            </div>
        </div>
        <div class="header__download">
            <a href="#" download>
                <img src="/static/source/img/header/bi_download.svg" alt="download">
                Прайс 2022
            </a>
        </div>
    </header>

    <section class="top">
        
        <div class="top_slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide top_slider__slide">
                    <img class="img_bg" src="/static/source/img/top/RigPRO_INUSE_01_300dpi_100x75mm_D_NR-2617 2.png" alt="">
                    <div class="top_slider-left" 
                        style="background: url(/static/source/img/top/Rectangle\ 2.png), 
                        linear-gradient(179.34deg, #E6D3D1 39.74%, rgba(230, 211, 209, 0) 99.43%);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;">
                        <div class="top_slider__title">
                            <img src="/static/source/img/top/Fill-2.png" alt="">
                        </div>
                        <div class="top_slider_wrapper">
                            <div class="top_slider__title-2">
                                ПРЕДСТАВЛЯЄ НОВУ колекцію FIELDPRO
                            </div>
                            <div class="top_slider_btn">
                                <a href="#" class="btn_1">КУПИТИ</a>
                                <a href="#" class="btn_2">ДЕТАЛЬНІШЕ</a>
                            </div>
                        </div>
                        
                        <!-- <div>
                            <img src="/static/source/img/top/Rectangle 2.png" alt="" style="mix-blend-mode: normal;">
                        </div> -->
                    </div>
                    <div class="top_slider-right" 
                        style="background: url(/static/source//img/top/Mask\ group.png), 
                        linear-gradient(168.63deg, #F0493E 2.85%, #000000 104.02%);
                        background-repeat: no-repeat;
                        background-position: bottom;">
                        <div class="top_slider__title">
                            <img src="/static/source/img/top/Fill-2 (1).png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev top-slider-btn-prev"></div>
            <div class="swiper-button-next top-slider-btn-next"></div>
            
        </div>
        <div class="top_social">
            <div>
                <img src="/static/source/img/top/Group.png" alt="">
            </div>
            <div class="top_social_links">                
                <a href="#">facebook</a>
                <a href="#">instagram</a>
                <a href="#">youtube</a>
            </div>
            <div class="swiper-pagination top_slider-pagination"></div>
        </div>
    </section>

    <section class="scope container"
        style="background: url(/static/source/img/scope/Rectangle\ 19.png), linear-gradient(180deg, #1A1717 0%, #371010 100%); background-blend-mode: overlay; background-repeat: no-repeat; background-position: right;">
        <div class="scope__title">
            <div class="scope__title-1">
                Область застосування
            </div>
            <div class="scope__title-2">
                Основною нашою задачею є розробка захисного взуття для конкретних умов роботи та можливих небезпек у
                кожній області застосування,
                де важливий не дизайн та колір продукту, а якість, продуктивність та комфорт у використанні.
            </div>
        </div>
        <div class="uk-child-width-1-2@s" uk-grid>
            <div uk-grid>
                <div class="uk-width-auto@m column">
                    <ul class="uk-tab-left"
                        uk-tab="connect: #component-tab-left; animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium">
                        <li>
                            <a href="#">
                                Будівельна промисловість
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Сільське господарство
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Харчова промисловість
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Гірничодобувна промисловість
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Рибальство
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-expand@m column">
                    <ul id="component-tab-left" class="uk-switcher">
                        <li class="column__title">
                            <div class="column__title-1">
                                Сільське
                            </div>
                            <div class="column__title-2">
                                господарство
                            </div>
                            <div class="column__img">
                                <a href="#">
                                    бІЛЬШЕ ТОВАРІВ В
                                    ЦІЙ КАТЕГОРІЇ →
                                </a>
                                <img src="/static/source/img/scope/FieldPRO Yellow_96dpi_1181x1181px_X_NR-2485 2.png"
                                    alt="">
                            </div>
                        </li>
                        <li class="column__title">
                            <div class="column__title-1">
                                Сільське
                            </div>
                            <div class="column__title-2">
                                господарство
                            </div>
                            <div class="column__img">
                                <a href="#">
                                    бІЛЬШЕ ТОВАРІВ В
                                    ЦІЙ КАТЕГОРІЇ →
                                </a>
                                <img src="/static/source/img/scope/FieldPRO Yellow_96dpi_1181x1181px_X_NR-2485 2.png"
                                    alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="innovation container">
        <div class="innovation__title">
            <div class="title" style="background-image: url(/static/source/img/innovation/Технологія.png);">
                ІННОВАЦІЯ PUROFORT
            </div>
            <div class="innovation__title-1">
                За своїми властивостями цей матеріал є ефективнішим за гуму та базовий поліуретан.
                На початку 1980-х Dunlop заново винайшов гуму і випустив свої перші чоботи Purofort®. Взуття Purofort® –
                найкраще в своєму класі поліуретанові чоботи. Понад 10 мільйонів людей у ​​всьому світі носять це
                унікальне взуття щодня.
            </div>
        </div>
        <div class="innovation__columns">
            <div class="innovation__column">
                <div class="innovation_item">
                    <div class="innovation_item__num">
                        01
                    </div>
                    <div class="innovation_item__title">
                        PUROTEX UPPER
                    </div>
                    <div class="innovation_item__description">
                        Не неопрен, а 4-шаровий матеріал, який на 100% водонепроникний зовні і пропускає повітря
                        всередині.
                    </div>
                </div>
                <div class="innovation_item">
                    <div class="innovation_item__num">
                        02
                    </div>
                    <div class="innovation_item__title">
                        SNUG LAST
                    </div>
                    <div class="innovation_item__description">
                        Унікальна технологія розроблена для ідеальної посадки стопи та комфорту.
                    </div>
                </div>
                <div class="innovation_item">
                    <div class="innovation_item__num">
                        03
                    </div>
                    <div class="innovation_item__title">
                        PUROFORT® SHAFT
                    </div>
                    <div class="innovation_item__description">
                        Не гума, а запатентована суміш Purofort® Dunlop, яка легша, тепліша та міцніша.
                    </div>
                </div>
            </div>
            <div class="innovation__img" style="background-image: url(/static/source/img/innovation/Group.png);">
                <img src="/static/source/img/innovation/image 13.png" alt="">
                <img class="img_2" src="/static/source/img/innovation/image 12.png" alt="">
            </div>
            <div class="innovation__column">
                <div class="innovation_item">
                    <div class="innovation_item__num">
                        01
                    </div>
                    <div class="innovation_item__title">
                        PUROTEX UPPER
                    </div>
                    <div class="innovation_item__description">
                        Не неопрен, а 4-шаровий матеріал, який на 100% водонепроникний зовні і пропускає повітря
                        всередині.
                    </div>
                </div>
                <div class="innovation_item">
                    <div class="innovation_item__num">
                        02
                    </div>
                    <div class="innovation_item__title">
                        SNUG LAST
                    </div>
                    <div class="innovation_item__description">
                        Унікальна технологія розроблена для ідеальної посадки стопи та комфорту.
                    </div>
                </div>
                <div class="innovation_item">
                    <div class="innovation_item__num">
                        03
                    </div>
                    <div class="innovation_item__title">
                        PUROFORT® SHAFT
                    </div>
                    <div class="innovation_item__description">
                        Не гума, а запатентована суміш Purofort® Dunlop, яка легша, тепліша та міцніша.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="product container">
        <div class="product__title">
            Наша продукція
        </div>
        <div class="product__slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide product_card">
                    <div class="product_card__img">
                        <img src="/static/source/img/product/image 3.png" alt="">
                    </div>
                    <div class="product_card__title">
                        DUNLOP PUROFORT+ RUGGED FULL SAFETY
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product_card__img">
                        <img src="/static/source/img/product/image 3 (1).png" alt="">
                    </div>
                    <div class="product_card__title">
                        DUNLOP PUROFORT+ RUGGED FULL SAFETY
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="product_card__img">
                        <img src="/static/source/img/product/image 3 (2).png" alt="">
                    </div>
                    <div class="product_card__title">
                        DUNLOP PUROFORT+ RUGGED FULL SAFETY
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev product-slider-btn-prev"></div>
            <div class="swiper-button-next product-slider-btn-next"></div>
        </div>
        <div class="product_category">
            <div class="product_category__item">
                Будівельна промисловість
            </div>
            <div class="product_category__item">
                Сільське господарство
            </div>
            <div class="product_category__item">
                Харчова промисловість
            </div>
            <div class="product_category__item">
                Гірничодобувна промисловість
            </div>
            <div class="product_category__item">
                Рибальство
            </div>
        </div>
    </section>

    <section class="advances container">
        <div class="title" style="background-image: url(/static/source/img/advances/переваги\ взуття.png);">
            переваги взуття
        </div>
        <div class="advances__items swiper-container">
            <div class="swiper-wrapper">
                <div class="advances__item swiper-slide">
                    <img src="/static/source/img/advances/Frame 113.svg" alt="">
                </div>
                <div class="advances__item swiper-slide">
                    <img src="/static/source/img/advances/Frame 114.svg" alt="">
                </div>
                <div class="advances__item swiper-slide">
                    <img src="/static/source/img/advances/Frame 115.svg" alt="">
                </div>
                <div class="advances__item swiper-slide">
                    <img src="/static/source/img/advances/Frame 116.svg" alt="">
                </div>
                <div class="advances__item swiper-slide">
                    <img src="/static/source/img/advances/Frame 117.svg" alt="">
                </div>
                <div class="advances__item swiper-slide">
                    <img src="/static/source/img/advances/Frame 118.svg" alt="">
                </div>
                <div class="advances__item swiper-slide">
                    <img src="/static/source/img/advances/Frame 119.svg" alt="">
                </div>
                <div class="advances__item swiper-slide">
                    <img src="/static/source/img/advances/Frame 120.svg" alt="">
                </div>
                <div class="advances__item swiper-slide">
                    <img src="/static/source/img/advances/Frame 121.svg" alt="">
                </div>
                <div class="advances__item swiper-slide">
                    <img src="/static/source/img/advances/Frame 120.svg" alt="">
                </div>
                <div class="advances__item swiper-slide">
                    <img src="/static/source/img/advances/Frame 121.svg" alt="">
                </div>
            </div>
        </div>
        <!-- <div class="swiper-pagination advances-pagination"></div> -->
    </section>

    <section class="about container" 
        style="background: url(/static/source/img/about/Rectangle\ 18.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;">
        <div class="about__title">
            <div class="about__title-1">
                Наша компанія Dunlop Protective Footwear,є провідний світовим виробником захисного взуття. У більш ніж
                75 країнах світу ми пропонуємо зручне та захисне взуття для працівників таких галузей як: сільське та
                рибне господарство, харчова промисловість, будівництво, а також гірничодобувної та нафтогазової
                промисловості. Ми вивчили ці галузі з середини, і, поєднуючи інновації з майстерністю, можемо
                запропонувати вам те, на що ви заслуговуєте: найкращі робочі чоботи у світі.
            </div>
            <div class="about__title-2">
                Про нас
            </div>
        </div>
        <div class="about__img">
            <div>
                <img src="/static/source/img/about/Rectangle 23.png" alt="">
            </div>
            <div>
                <img src="/static/source/img/about/Rectangle 22.png" alt="">
            </div>
        </div>

    </section>

    <section class="youtobe">
        <iframe width="100%" height="810" src="https://www.youtube.com/embed/nF5VITAeElA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </section>

    <footer class="footer container">
        <div class="footer__column">
            <div class="footer__item">
                Контакти
            </div>
            <div class="footer__item">
                вул. Промислова 54
                <br>
                Львів, 79024 Україна
            </div>
            <div class="footer__item footer__tel">
                <a href="tel:+38-032 247-47-48">+38-032 247-47-48</a>
                <a href="tel:+380 670-100-180">+380 670-100-180</a>
                <a href="tel:+380 670-100-170">+380 670-100-170</a>
            </div>
        </div>
        <div class="footer__column">
            <a href="#" class="footer__item">
                продукція
            </a>
            <a href="#" class="footer__item">
                ІННОВАЦІЯ
            </a>
            <a href="#" class="footer__item">
                уМОВНІ ПОЗНАЧЕННЯ
            </a>
            <a href="#" class="footer__item">
                про нас
            </a>
        </div>
        <div class="footer__column">
            <div class="footer__item">
                Слідкуй за нами
            </div>
            <div class="footer__item">
                <a href="#">
                    <img src="/static/source/img/footer/instagram.svg" alt="">
                </a>
                <a href="#">
                    <img src="/static/source/img/footer/Frame 45.svg" alt="">
                </a>
                <a href="#">
                    <img src="/static/source/img/footer/Frame 47.svg" alt="">
                </a>
            </div>
            <div class="footer__item">
                <a href="#">
                    <img src="/static/source/img/footer/sw-logo 1.svg" alt="">
                </a>
            </div>
        </div>
        <div class="footer__column">
            <div class="footer__item">
                Dunlop®ProtectiveFootwer works closely with^
            </div>
            <div class="footer__item">
                <a href="#">
                    <img src="/static/source/img/footer/Group.svg" alt="">
                </a>
                <a href="#">
                    <img src="/static/source/img/footer/Group (1).svg" alt="">
                </a>
            </div>
            <div class="footer__item">
                <span class="footer__item">
                    Tested & Cetififed by
                </span>
                <a href="#">
                    <img src="/static/source/img/footer/Group (2).svg" alt="">
                </a>
            </div>
        </div>
    </footer>

    <script src="/static/source/lib/uikit-3.14.1/js/uikit.min.js"></script>
    <script src="/static/source/pages/index/index.js"></script>

</body>

</html>